<!DOCTYPE html>
<html>
<head>
<title>Django Project</title>
<link rel="stylesheet" href="/static/mystyle.css">
</head>


<body>

<h1>About</h1>
<p>Welocme to spend some time on Peepa pig's web page</p>

<ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Services</a></li>
  </ul>


  <h1> about Peppa Pig and her family. </h1>

<p>
Always good to know about the place tht you applying for a job

Do research before you turn up on site.<br>
As evening came, everyone was becoming very sleepy. The most sleepy of all had been the princess, and after he spots Peppa half-asleep, he is quick to call her out on it. She claims to be fine, then wakes up George so that he can hear the end of the story.

Daddy Pig finishes the story by saying that the Princess had gotten very sleepy because of all the time spent looking in the mirror. So King Daddy tucked her into bed and she fell right to sleep... as have Peppa and George. With that, Daddy Pig and Mummy Pig leave the room.

</p>

</body>


</html>
