<!DOCTYPE html>
<html>
<head>
<title>Django Project</title>
<link rel="stylesheet" href="/static/mystyle.css">
</head>


<body>

<h1>Home menu page</h1>
<p>Welocme to spend some time on Peepa pig's web page</p>

<ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Services</a></li>
  </ul>


  <h1> Homemenu </h1>

<p>
One late evening, Peppa and George head to bed. After Peppa claims not to be tired she asks Daddy Pig and Mummy Pig to tell them a story. Daddy Pig agrees to tell just one story, but makes them promise first that they will go to sleep right after. With that, Daddy Pig begins to tell the story about a Sleepy Princess.

The sleepy princess 17
The royal pig family.

At first, Peppa assumes it will be boring but they assure her that it isn't. Once upon a time, a little princess lived in a big castle. She loved to admire herself in the mirror all of the time, and she lived with her little brother Prince, Queen Mummy, and King Daddy. They also had a dinosaur who lived outside, which Daddy Pig describes as being quite scary and fearless. But after he accidentally scares George and makes him cry, he quickly tries to change the story to help him feel better. And gives a little burp as the dinosaur.
<br>
As evening came, everyone was becoming very sleepy. The most sleepy of all had been the princess, and after he spots Peppa half-asleep, he is quick to call her out on it. She claims to be fine, then wakes up George so that he can hear the end of the story.

Daddy Pig finishes the story by saying that the Princess had gotten very sleepy because of all the time spent looking in the mirror. So King Daddy tucked her into bed and she fell right to sleep... as have Peppa and George. With that, Daddy Pig and Mummy Pig leave the room.

</p>

</body>


</html>
