<!DOCTYPE html>
<html>
<head>
<title>Django Project</title>
<link rel="stylesheet" href="/static/mystyle.css">
</head>


<body>

<h1>Services</h1>
<p>Welocme to spend some time on Peepa pig's web page</p>

<ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">Services</a></li>
  </ul>


  <h1> SERVICES </h1>

<p>
Anithing that's possible as we serve our customers.
<br>
Events can be organised with real Peppa and the family.
</p>

</body>


</html>
